body {
  background-color: #263238;
}
table {
  margin: 0 auto; /* 中央寄せ */
  width: 400px;
  height: 800px;
}
td {
  background-color: #455A64;
  width: 10%; /* 横10マス */
  height: 5%; /* 縦20マス */
}
.default {
  background-color: #455A64;
}
.rod {
  background-color: #03A9F4;
}
.square {
  background-color: #f3362f;
}
.convex {
  background-color: #dcf403;
}
.l_shape {
  background-color: #03f417;
}
.inverted_l {
  background-color: #a140b9;
}
.z_shape {
  background-color: #c72489;
}
.inverted_z {
  background-color: #638601;
}
